.account-container {
    .item {
        background-color: #ededed;
        color: #fff;
        margin: 5px;
        padding: 40px 50px;
        text-align: center;
        font-size: 2em;
        border-radius: 8px;
        color: $color-gray;
        cursor: pointer;
    }
}