.auth-container {
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    
    .left {
        background: #ededed;
        // border: 3px solid #000;
        display: flex; 
        justify-content: flex-end;
        img {
            height: 100vh; 
            align-self: center;
        }
    }
    .right {
        p a {
            font-weight: bold;
        }
        p {
            color: #6c757d;
        }
    }
}