
.btn-mkh {
    color: #fff;
    background-color: $color-red;
    border-color: $color-red;
}

.btn:hover {
    color: #fff;
    text-decoration: none;
}

a {
    text-decoration: inherit;
    cursor: pointer;
    outline: 0;
    color: $color-red;
}

a:hover, a:focus {
    color: $color-red;
}

p, h1 {
    margin: 0;
}