.btn-mkh {
    color: #fff;
    background-color: #ff6162;
    border-color: #ff6162;
}

a {
    text-decoration: inherit;
    cursor: pointer;
    outline: 0;
    color: #ff6162;
}

a:hover, a:focus {
    color: #ff6162;
    
}