@font-face {
  font-family: "Haas Grot Text R Web";
  src: url(./fonts/NeueHaasGrotTextRound-55Roman-Web.eot);
  src: url(./fonts/NeueHaasGrotTextRound-55Roman-Web.eot?#iefix) format("embedded-opentype"), 
  url(./fonts/NeueHaasGrotTextRound-55Roman-Web.woff2) format("woff2"), 
  url(./fonts/NeueHaasGrotTextRound-55Roman-Web.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

body {
  margin: 0;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}